body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"] {
    width: 25%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin-left: 40%;

  }
  
  ul {
    list-style-type: none;
    text-align: center;
    padding: 1%;
    margin-left: 40%;
  }
  
  li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
  }